*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: #333;
    font: 400 15px/1.6 Avenir, Athelas, Charter, Palatino, sans-serif;
}

body {
    margin: 0;
    padding: 0 0 15vh;
}

a,
a:visited {
    color: #06c;
}

h1 {
    font-family: Optima, Cambria, Palatino, Times, 'Times New Roman', serif;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    margin: 0 auto;
    width: 90vw;
    max-width: 800px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav h1 {
    width: 100%;
}

nav a {
    display: block;
    margin-bottom: .8em;
    border: 1px solid #ccc;
    border-radius: .6em;
    width: 90%;
    padding: .5em .7em;
    background: #f1f1f1;
    text-decoration: none;
    transition: .4s all;
}

nav a:hover,
nav a:focus {
    border-color: #aaa;
    background-color: #eee;
    color: #333;
}

dl {
    padding: 0 1.2rem;
}

dt {
    font-weight: 700;
    font-style: italic;
}

dt:not(:first-child) {
    margin-top: 2em;
}

dd {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 480px) {

    html {
        font-size: 3.125vw;
        line-height: 1.7;
    }

    .cols {
        display: flex;
    }

    .cols > div {
        flex: none;
        width: 60%;
    }

    .cols > div + div {
        flex: auto;
        margin-left: 3%;
    }

    nav a {
        width: 48%;
        padding: .3em .6em;
    }
}

@media screen and (min-width: 700px) {

    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 800px) {

    html {
        font-size: 22px;
        line-height: 1.8;
    }

    dl {
        padding: 0 2rem;
    }

    nav a,
    dd {
        font-size: .8em;
    }
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only:not([aria-hidden="true"]):focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #000;
  display: block;
  font-size: 1em;
  height: auto;
  left: .5rem;
  line-height: normal;
  padding: .5em;
  text-decoration: none;
  top: .5rem;
  width: auto;
  z-index: 100000;
}
